.spinner {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner__inner {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #4481c3 #0000;
  animation: spinner 1s infinite linear;
}
.spinner__inner::before,
.spinner__inner::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.spinner__inner::before {
  border-color: #e4e4ed #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.spinner__inner::after {
  margin: 8px;
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
