.error-message {
  position: fixed;
  z-index: 20;
  top: 6px;
  left: 50%;
  padding: 10px 12px;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
  background-color: #ffffff;
  transform: translateX(-50%);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
}
